<configuration scan="true">
    <springProperty scope="context" name="springAppName" source="spring.application.name"/>

    <springProfile name="prod,default">
        <include resource="logback-prod.xml"/>
    </springProfile>

    <springProfile name="dev">
        <include resource="logback-dev.xml"/>
    </springProfile>

</configuration>
