<included>
    <appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>Asia/Shanghai</timeZone>
                </timestamp>

                <logLevel/>
                <loggerName/>
                <threadName/>
                <message/>
                <stackTrace/>

                <mdc/>

                <provider class="net.logstash.logback.composite.GlobalCustomFieldsJsonProvider">
                    <customFields>{"service_name":"${springAppName:-}","env":"${spring.profiles.active:-prod}"}</customFields>
                </provider>
            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE_JSON"/>
    </root>
</included>
